.avatarGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-top: var(--space-xl);
}

.skeleton {
	height: 192px;
	background-color: gray;
	border-radius: var(--radius-md);
	animation: infinite pulse 2s;
	animation-delay: calc(0.2s * (sibling-index() - 1));
}

@keyframes pulse {
	50% {
		opacity: 75%;
	}
}

.avatarWrapper {
	border-radius: var(--radius-md);
	height: 100%;
	width: 100%;
	position: relative;

	.avatar {
		height: 100%;
		width: 100%;
		cursor: pointer;
	}

	&:hover::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--clr-primary);
		opacity: 0.3;
	}
}