.resources {
  background-color: var(--clr-bg-light);
  padding: var(--space-xl);

  .headingContainer {
    display: flex;
    justify-content: space-between;
    .resourcesHeading {
      margin-bottom: 0;
      font-size: var(--font-lg);
    }

    .resourcesEyebrow {
      font-size: var(--font-xs);
      color: var(--clr-text-muted);
      margin: 0;
    }

    .controlsGroup {
      display: flex;
      gap: var(--space-sm);
      align-items: center;
      justify-content: center;

      .resetBtn {
        background: transparent;
        padding: var(--space-xs);
        outline: none;
        border: 1px solid var(--clr-black);
        border-radius: var(--radius-md);
        display: flex;
        height: 35px;
        width: 35px;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
          opacity: 60%;
        }
      }

      .viewAll {
        font-weight: 600;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
