.resources {
  background-color: var(--clr-bg-light);
  padding: var(--space-xl);

  .resources__heading {
    margin-bottom: 0;
    font-size: var(--font-lg);
  }

  .resources__eyebrow {
    font-size: var(--font-sm);
    color: var(--clr-text-muted);
    margin: 0;
  }
}