:root {
  /* Colors */
  --clr-white: oklch(100% 0 89.9);
  --clr-black: oklch(0% 0 0);
  --clr-primary: oklch(64.8% 0.061 258.3);
  --clr-accent: oklch(73% 0.163 132);
  --clr-border: oklch(80.5% 0 89.9);
  --clr-text-muted: oklch(53.5% 0.025 268.2);
  --clr-bg-light: oklch(96% 0.001 197.1);

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;
  --space-4xl: 5rem;

  /* Width */
  --content-width: 1120px;
  --card-size: 192px;

  /* Border Radius */
  --radius-md: 0.75rem;
  --radius-lg: 1.25rem;
  --radius-full: 9999rem;

  /* Font Sizes */
  --font-lg: 3rem;
  --font-md: 1.5rem;
  --font-sm: 1.125rem;
  --font-xs: 1rem;
}

#tavus-resources {
  width: 100%;
  margin-block: var(--space-4xl);
}
